* {
    margin : 0;
    padding:0;
    font-family : 'Kumbh Sans', 'sans serif';
   
}

body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(237, 12%, 33%);
    min-height : 800px;
}


main {padding : 20px;}

main figure {
    position: relative;
    z-index: 1;
    padding-top : 30px;
}

main section.FAQ-container h1 {
    text-align: center;
    margin : 30px auto;
}

main section.FAQ-container div.QA{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 15px;
}

main section.FAQ-container div.QA p.question {
    margin-bottom: 15px;
}

main section.FAQ-container div.QA p.reponse {
    color:hsl(240, 6%, 50%);
    margin-bottom: 15px;
    display: none;
}

main section.FAQ-container div.QA div.question-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


footer {
    text-align: center;
    color:white;
    opacity : 50%;
}

footer p.attribution {
    margin-bottom : 30px;
}

footer p.attribution a{
    color :pink;
}

@media screen and (max-width:1240px){
    main figure div.background{
        background-image:url('img/bg-pattern-mobile.svg');
        background-repeat:no-repeat;
        background-position: bottom;    
        height: 220px;
        margin: 0 auto;
        width:310px;
    }
    
    main figure div.background div.illustration{
        background-image: url('img/illustration-woman-online-mobile.svg');
        background-repeat: no-repeat;
        height: 200px;
        margin: 0 auto;
        width:310px;
    }
    
    main section.FAQ-container{
        padding : 30px;
        background-color: white;
        border-radius : 20px;
        position: relative;
        top: -100px;
        z-index:0;
        padding-top: 90px;
    }
}

@media screen and (min-width:1240px){
    main {
        display: grid;
        grid-template-columns: 30% 90%;
        padding : 70px;
    }

    main figure div.background{
        background-image:url('img/bg-pattern-desktop.svg');
        background-repeat:no-repeat;
        background-position: bottom;
        height: 400px;
        margin: 0 auto;
        width:500px;
        background-size: contain;
    }
    
    main figure div.background div.illustration{
        background-image: url('img/illustration-woman-online-desktop.svg');
        background-repeat: no-repeat;
        height: 400px;
        margin: 0 auto;
        width:500px;
    }

    main section.FAQ-container{
        padding : 30px;
        background-color: white;
        border-radius : 20px;
        padding-left: 50%;
        position :relative;
        left : -300px;
    }

    main figure {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    main section.FAQ-container h1 {
        margin-right:40px;
    }
    
    main section.FAQ-container div.QA{
        margin-right: 40px;
    }
}